body {
  height: 100vh;
  background: #3d7eaa;
  background: -webkit-linear-gradient(to right, #ffe47a, #3d7eaa);
  background: linear-gradient(to right, #ffe47a, #3d7eaa);
  font-family: ‘Poppins’, sans-serif !important;
}
